name: Integration

on:
  pull_request:

jobs:
  test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup node.js
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"

      - name: Install dependencies
        run: |
          npm ci

      - name: Lint code
        run: |
          npm run lint

      - name: Build action
        run: |
          npm run build

      - name: Run tests
        run: |
          npm test

  dogfood:
    name: Dogfood
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup node.js
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"

      - name: Install dependencies
        run: |
          npm ci

      - name: Build action
        run: |
          npm run build

      - name: Add Comment
        uses: ./
        with:
          message: |
            **It works!**
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          repo-token-user-login: "github-actions[bot]"
